@font-face {
    font-family: "Real Head Web W03 Book";
    src: url('./fonts/Real\ Head\ Web\ W03\ Book.ttf') format('truetype');
}

@font-face {
    font-family: "Stem Text W03 Regular";
    src: url('./fonts/Stem\ Text\ W03\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Rohn Bold";
    src: url('./fonts/Rohn/RohnRounded-Bold.ttf') format('truetype');
}

/* Chrome, Safari scrollbar */
::-webkit-scrollbar {
    width: 0.8em; 
}

::-webkit-scrollbar-track {
    background: rgb(31, 31, 31); 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: rgb(119, 35, 255);
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(152, 91, 250);
}

/* Firefox scrollbar */
@-moz-document url-prefix() {
    * {
        scrollbar-width: auto; 
        scrollbar-color: rgb(152, 91, 250) rgb(31, 31, 31);
    }
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

html {
    scroll-behavior: smooth;
    flex: 1 1 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body{
    font-family: "Real Head Web W03 Book";
    margin: 0%;
    color: white;
    background-color: rgb(31, 31, 31);
    min-width: 90%; 
}

header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 1000;
    background-color: rgb(31, 31, 31);
}

header.scrolled {
    border-bottom: 2px solid rgb(98, 0, 255); 
}

h2#page-name{
    color: rgb(255, 255, 255);
    font-family: "Rohn Bold";
    font-size: 2.2rem;
    margin: 24px 0px 24px;
}

h2#page-surname{
    color: rgb(98, 0, 255);
    font-family: "Rohn Bold";
    font-size: 2.2rem;
    margin-left: 0.03em;
    margin-top: 0.68em;
    margin-bottom: 0.68em;
}

div#page-totalname{
    cursor: default;
    transition: 600ms;
    display: flex;
    margin: 0.12em 11%;
    text-decoration: none;
}

div#page-totalname:hover{
    transition: 600ms;
    transform: scale(1.1);
    text-shadow: 0 0 2.5em rgb(119, 0, 255)
}

nav ul {
    margin: 0%;
    padding: 0%;
    display: flex;
    position: absolute;
    top: 50%;
    left: auto;
    left: 81%;
    transform: translate(-50%, -50%);
  }
  
nav ul li {
    list-style: none;
    margin: 0 0.33em;
}
  
nav ul li a {
    position: relative; 
    display: block;
    width: 5em;
    height: 5em;
    margin: 0% 1em 0%;
    padding: 0.2em 0.5em 0.2em;
    text-align: center;
    line-height: 4.9em;
    border-radius: 18%;
    background: rgb(31, 31, 31);
    font-family: "Rohn Bold";
    color: rgb(161, 161, 161);
    transition: .5s;
    text-decoration: none;
}  

nav ul li a::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 20%;
    background: rgb(98, 0, 255);
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
  
nav ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 11px rgb(98, 0, 255);
}
  
nav ul li a:hover {
    color: rgb(221, 221, 221);
    box-shadow: 0 0 6px rgb(98, 0, 255);
    text-shadow: 0 0 6px rgb(98, 0, 255);
    text-decoration: underline rgb(176, 126, 255) 2px;
}

div#img-back {
    background-image: url('./img/background.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-blend-mode: overlay; 
    color: white;
    text-align: center;
    background-color: rgba(12, 9, 9, 0.842); 
}

div#gradient{
    background-image: linear-gradient(180deg, rgba(255, 253, 253, 0.075), rgba(32, 32, 32, 0.842));
    padding-bottom: 5em;
}

div#text-center {
    padding: 14.4em 0% 6.26em;
}

h2.h2-mainhome{
    font-family: "Stem Text W03 Regular";
    font-size: 1.63em;
    color: rgb(223, 223, 223);
    font-weight: 100;
    margin: 0.3em 0px 0px;
}

h2#together{
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(-10deg); }
    10% { transform: rotate(8deg); }
    20% { transform: rotate(-14deg); }
    30% { transform: rotate(8deg); }
    40% { transform: rotate(-14deg); }
    50% { transform: rotate(4deg); }
    60% { transform: rotate(-10deg); }
    100% { transform: rotate(-10deg); }
}

span.wave {
    display: inline-block;
    animation: wave-animation 3s infinite;
    transform-origin: 70% 70%;
    font-size: 1.83em;
}

h1{
    font-size: 3.8em;
    font-weight: 100;
    margin: 0px 0px 20px;
}

img.contact-icon {
    width: 2.3em;
    height: 2.3em;
    transition: transform 1s ease, filter 1s ease;
    -webkit-transition: transform 1s ease, filter 1s ease;
    -ms-transition: transform 1s ease, filter 1s ease;
    filter: brightness(0.8);
}
    
img.contact-icon:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    filter: brightness(1.5);
}

ul#ul-imgs{
    display:inline-flex;
    list-style: none;
}

ul#ul-imgs li{
    margin: 1.06em 1.00em 0%; 
}

hr.imgs-hr {
    height: 0.06em; 
    width: 5.13em;
    background-color: rgb(121, 121, 121);
    margin: 2.13em 1.75em 0%; 
    border: 0.06em solid rgb(121, 121, 121);
}

p#scroll-p{
    letter-spacing: 3px;
    margin-bottom: 0.19em;
}

hr#scroll-hr{
    height: 4.56em;
    width: 0%;
    background-color: rgb(121, 121, 121);
    border: 0.06em solid rgb(121, 121, 121);
}

button#button-top{
    opacity: 0%;
    cursor: default;
    transform: translateY(40%); 
    transition: opacity .5s, transform .5s;
    transition: 1s;
    font-size: 1.69em;
    padding: 0.48em 0.88em 0.58em;
    color: white;
    z-index: 1000;
    position: fixed;
    right: 5em;
    bottom: 3.75em;
    border-radius: 3.13em;
    background-color: rgb(98, 0, 255);
    border: 0.19em white solid;
}

button#button-top.visible{
    opacity: 1;
    cursor: pointer;
    transform: translateY(0); 
    z-index: 1000;
    position: sticky;
    border-radius: 3.13em;
    background-color: rgb(98, 0, 255);
    border: 0.19em white solid;
    position: fixed;
    right: 5em;
    bottom: 5.75em;
}

button#button-top:hover{
    box-shadow: 0 0 74px rgb(98, 0, 255);
    transition: 0.7s;
}

div#body-section {
    margin: 0%;
    font-size: 1.19em;
    padding: 5% 10% 0%;
    background-color: rgb(31, 31, 31);
}

section#about{
    opacity: 0;
    transform: translateX(-100%); 
    transition: opacity 1s, transform 1s;
}

h2.h2-title{
    letter-spacing: 3px;
}

h2.h2-section{
    color: rgb(119, 35, 255);
    padding: 0% 0% 0%;
    letter-spacing: 0.25em;
    font-size: 1.13em;
}

hr.hr-section{
    background: rgb(119, 35, 255);
    margin-left: 0%;
    border: none;
    width: 50.00em;
    height: 0.13em;
    border-radius: 40px;
}

p#indentation{
    margin: 1.56em 6.90em 0%;
}

p#indentation2{
    margin: 0.13em 8.65em 1.25em;
}

p#title-ul{
    margin: 0.63em 10.70em 0%;
}

button.btn-technologies{
    width: 6.70em;
    height: 8em;
    padding: 1.25em 1.88em 0.06em;
    margin: 0% 0.13em 0%;
    border-radius: 0.63em;
    background-color: rgb(56, 56, 56);
    color: white;
    font-family: "Rohn Bold";
    border: none;
    font-size: 1.0em;
    border-bottom: 5px solid rgb(119, 35, 255);
    transition: 600ms;
    transform: scale(1);
}

button.btn-technologies:hover{
    box-shadow: 0 0 2px 2px rgb(255, 255, 255);
    transition: 600ms;
    transform: scale(1.1);
}

ul.teste li{
    padding-bottom: 0.13em;
    color: rgb(255, 255, 255);
    transition: 5s;
    max-width: 14.38em;
}

ul.teste li:hover{
    color: rgb(192, 125, 255);
    transition: 0.3s;
    cursor: default;
}

h2.h2-title2{
    margin-top: 0.5%;
    letter-spacing: 3px;
}

img#img-dev {
    position: fixed;
    flex-wrap: wrap;
    display:block;
    left: 63%;
    top: 20%;
    width: 30%; 
    height: auto;
}

section#about.visible {
    opacity: 1;
    transform: translateX(0);
}

section#projects {
    padding: 1.58em 0.63em 0em; 
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s, transform 1s;
}

div #sticky-projects {
    position: sticky;
    margin-top: 6.25em; 
    top: 13%;
    z-index: 1000;
}

hr.hr-sectionproject {
    background: rgb(119, 35, 255);
    margin-left: 0;
    border: none;
    width: 15.75em; 
    height: 0.13em;
    border-radius: 2.5em; 
}

.project {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 118.75em; 
}

.project-image {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 18.63em; 
}

.project-image video {
    width: 33em;
    height: 23em;
}

.project-details {
    text-align: left;
    margin: 0em 1.25em 0.31em; 
}

h2#primeiro {
    margin-top: 3.60em; 
}

h2.h2-projects {
    font-size: 1.44em; 
    letter-spacing: 3px;
    color: rgb(119, 35, 255);
}

hr.hr-projectimage {
    background: rgb(119, 35, 255);
    border: none;
    width: 66%; 
    height: 0.13em; 
    margin-top: 3.13em; 
    margin-left: 30%; 
    margin-bottom: 3.13em; 
    border-radius: 2.5em; 
}

div.project a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

div.project a:hover {
    color: rgb(144, 75, 255);
    transition: 0.5s;
}

span.span-to {
    display: inline-block;
    font-size: 1.63em; 
    color: rgb(119, 35, 255);
    transform: scaleY(0.86);
    transform-origin: bottom;
}

section#projects.visible {
    opacity: 1;
    transform: translateX(0);
}

section#contact {
    margin-top: 6.88em; 
    padding: 3em 0em 2.5em; 
    opacity: 0;
    text-align: center;
    transform: translateX(-100%);
    transition: opacity 1s, transform 1s;
}

hr.hr-sectioncontact {
    background: rgb(119, 35, 255);
    border: none;
    width: 51.25em; 
    height: 0.13em; 
    border-radius: 2.5em; 
}

ul#ul-contact li {
    list-style: none;
    padding-bottom: 0.31em; 
    margin-right: 2.63em; 
    text-align: center;
}

ul#ul-contact li.li-middle {
    display: inline-flex;
    list-style: none;
    margin-top: 1.25em; 
}

section#contact.visible {
    opacity: 1;
    transform: translateX(0);
}

hr#hr-footer {
    background: rgb(119, 35, 255);
    border: none;
    height: 0.13em; 
}

footer {
    text-align: center;
    padding: 1.25em 0.06em 1.88em; 
}
